{% extends 'base.html' %}


{% load static %}

{% block content %}
<div class="jumbotron d-flex align-items-center">
  <!-- <div class="container text-left">
    <h1 class="display-1 mb-4">Login</h1>
  </div> -->
  <div class="rectangle-1"></div>
  <div class="rectangle-2"></div>
  <div class="rectangle-transparent-1"></div>
  <div class="rectangle-transparent-2"></div>
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="triangle triangle-1">
  	<img src="{% static 'img/obj_triangle.png' %}" alt="">
  </div>
  <div class="triangle triangle-2">
  	<img src="{% static 'img/obj_triangle.png' %}" alt="">
  </div>
  <div class="triangle triangle-3">
  	<img src="{% static 'img/obj_triangle.png' %}" alt="">
  </div>
  <div class="triangle triangle-4">
  	<img src="{% static 'img/obj_triangle.png' %}" alt="">
  </div>
  <div class="container" style="width: 1000px;">
    <div class="col-md-8 offset-md-2 contact-form-holder mt-4" data-aos="fade-up">
        <div class="container text-center">
            <h2 class="display-1 mb-4">SignIn Club Page</h2><hr style="border-top: 10px solid #ffff; border-radius: 5px; width: 100px;">
          </div><br>
        <form method="post" name="loginClub" action="loginClub">
          {% csrf_token %}

            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="clubname" name="clubname" placeholder="Club Name*" required>
                </div>
                <div class="col-md-12 form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password*" required>
                </div>

                {% for message in messages %}
                <h3 style="margin:auto; background-color: #292929; border-radius: 50px;">&nbsp;&nbsp;{{message}}&nbsp;&nbsp;</h3>
                {% endfor %}
                <div class="col-md-12 text-center"><br>
                    <input class="btn btn-primary btn-shadow btn-lg" style="width: 150px; font-size: medium;" type="submit" name="submit" value="Sign In"><br>
                  </div>
                <h4 style="margin: auto;"><hr style="border-top: 10px solid #ffff; border-radius: 5px; width: 350px;">Don't have a Club account? <a href="signClub">Sign Up</a></h4>
            </div><br>
        </form> 
      </div>
  </div>
</div>

{% endblock %}